<html lang="ru">
<head>
    <title> <%=title %> </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.css">
    <script type="text/javascript" src="/public/popper.min.js" defer></script>
    <script type="text/javascript" src="/js/jquery.min.js" defer></script>
    <script type="text/javascript" src="/js/index.js" defer></script>
    <script type="text/javascript" src="/public/js/bootstrap.bundle.min.js" defer></script>

    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->
</head>
<body>

<div class="container-xxl position-relative bg-white d-flex p-0" >
    <!-- Sign In Start -->
    <div class="container-fluid">
        <div class="row h-100 p-4 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="d-flex flex-row justify-content-around bd-highlight banner ">
                <div class="banner-text mt-4">
                    <div class="h1 text-uppercase" id="index-title">Онлайн опросы <br>
                        на все темы
                    </div>
                    <p class="mt-3 mb-3" id="index-description">Самая популярная в мире <br> система проведения опросов </p>
                    <div id="index-description-2">200 тысяч опросов в день</div>
                </div>
                <div class="banner-image">
                    <img src="/img/main.png" alt="main">
                </div>
            </div>

            <div class="container-fluid px-4 mt-5">
               <!-- <div class="h3 text-center"> <%= title %> </div>-->
                <div class="h3 text-center mb-4 "> Опросы начинаются здесь ! </div>
                <div class="d-flex align-content-stretch flex-wrap" id="index_qlist">
                    <% if(quests) {%>
                        <% for(quest of quests) {%>
                        <div class="card col-3 m-1" >
                            <div class="card-body">
                                <div class="card-title"> <%=quest.title %> </div>
                                <div class="description"> <%=quest.description %> </div>
                            </div>
                            <div class="card-footer">
                                <a href="quiz/<%= quest.id%>" class="btn btn-sm btn-outline-primary mb-1 "> Пройти опрос </a>
                            </div>
                        </div>
                        <%} %>
                    <% }else {%>
                        Опросы еще не созданы
                    <%} %>

                </div>
            </div>
            <!-- Footer Start -->
            <%- include("partials/footer.ejs") %>
            <!-- Footer End -->
        </div>

    </div>

    <!-- Sign In End -->
</div>

</body>
</html>
