<html lang="ru">
<head>
    <title> <%=title %> </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.css">
    <script type="text/javascript" src="/public/popper.min.js" defer></script>
    <script type="text/javascript" src="/js/jquery.min.js" defer></script>
    <script type="text/javascript" src="/js/index.js" defer></script>
    <script type="text/javascript" src="/js/quests/index.js" defer></script>
    <script type="text/javascript" src="/public/js/bootstrap.bundle.min.js" defer></script>

    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->
</head>
<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Sidebar Start -->
    <%- include("../partials/sidebar.ejs") %>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <%- include("../partials/navbar.ejs") %>
        <!-- Navbar End -->


        <!-- Blank Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
                <% if(quests) {%>
                <div class="col-md-12 text-center">
                    <h3><%=title %></h3>
                </div>
                <%}%>
                <button type="button" class="btn btn-success col-2 offset-8" data-bs-toggle="modal" data-bs-target="#newQuest">
                    Создать опрос
                </button>
                <% if(quests) {%>
                    <%- include('../quest/list', {quests:quests}) %>
                <% }else {%>
                    Опросы еще не созданы
                <%} %>
            </div>
        </div>
        <!-- Blank End -->


        <!-- Footer Start -->
        <%- include("../partials/footer.ejs") %>
        <%- include("../quest/edit_modal.ejs") %>
        <%- include("../quest/create_modal.ejs") %>
        <!-- Footer End -->
    </div>
    <!-- Content End -->
</div>

</body>
</html>
